html, body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%; }

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%; }

.toolbar {
  height: 50px;
  position: absolute;
  padding: 8px;
  width: 100%; }
  .toolbar .toolbar-browse {
    text-align: left; }
  .toolbar .toolbar-files {
    text-align: center; }
  .toolbar .toolbar-main {
    text-align: right; }

.app-body {
  padding-top: 50px;
  flex: 1 100%;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  background-color: #ddd;
  height: 100%;
  overflow: hidden; }
  .app-body .file-browser {
    transition: .3s linear;
    background-color: #bbb;
    overflow: auto; }
    .app-body .file-browser .folder > span, .app-body .file-browser .file > span {
      cursor: pointer; }
    .app-body .file-browser .folder .file-list {
      margin-left: 20px; }
    .app-body .file-browser .folder-contents {
      display: none; }
      .app-body .file-browser .folder-contents.open {
        display: block; }
  .app-body .page-list {
    transition: .3s linear;
    background-color: #999;
    overflow: auto; }
    .app-body .page-list .page {
      cursor: pointer; }
  .app-body .image-viewer {
    background-color: #777;
    transition: .3s linear;
    overflow: auto; }
    .app-body .image-viewer .image {
      display: block; }
      .app-body .image-viewer .image image {
        transition: .3s linear; }

@media (max-width: 719px) {
  .app-body {
    flex-direction: column; }
    .app-body.files .file-browser {
      height: 50%; }
    .app-body.pages .page-list {
      height: 50%; }
    .app-body.pages.files .file-browser,
    .app-body.pages.files .page-list {
      height: 33.333333%; }
    .app-body.files .image-viewer,
    .app-body.pages .image-viewer {
      height: 50%; }
    .app-body.pages.files .image-viewer {
      height: 33.333333%; }
    .app-body .file-browser {
      height: 0%; }
    .app-body .page-list {
      height: 0%; }
    .app-body .image-viewer {
      height: 100%; } }

@media (min-width: 720px) {
  .app-body {
    flex-direction: row; }
    .app-body.files .file-browser {
      width: 50%; }
    .app-body.pages .page-list {
      width: 50%; }
    .app-body.pages.files .file-browser,
    .app-body.pages.files .page-list {
      width: 33.333333%; }
    .app-body.files .image-viewer,
    .app-body.pages .image-viewer {
      width: 50%; }
    .app-body.pages.files .image-viewer {
      width: 33.333333%; }
    .app-body .file-browser {
      width: 0%; }
    .app-body .page-list {
      width: 0%; }
    .app-body .image-viewer {
      width: 100%; } }
