@import "./bootstrap.css";
@import "./font-awesome.css";

html, body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  user-select: none;
}

#root {
  height: 100%;
}

.app {
  display: flex;  
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.toolbar {
  height: 50px;
  position: absolute;
  padding: 8px;
  width: 100%;
  display: flex;
  .toolbar-browse {
    text-align: left;
  }
  .toolbar-files {
    flex: 1;
    text-align: center;
  }
  .toolbar-main {
    text-align: right;
  }
}

.app-body {
  padding-top: 50px;
  flex: 1 100%;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  background-color: #ddd;
  height: 100%;
  overflow: hidden;

  .file-browser {
    transition: .3s linear;
    background-color: #bbb;
    overflow: auto;
    .wrapper {
      padding: 0 .5rem;
    }

    .folder, .file {
      > span {
        cursor: pointer;
      }
    }

    .folder .file-list {
      margin-left: 20px;
    }

    .folder-contents {
      display: none;
      &.open {
        display: block;
      }
    }

    .fa-folder, .fa-folder-open {
      color: moccasin;
    }

    .fa-file {
      color: white;
    }
  }

  .page-list {
    transition: .3s linear;
    background-color: #999;
    overflow: auto;

    > ol {
      margin-right: 1rem;
      padding-left: 2rem;
    }

    .page {
      cursor: pointer;

      &.highlighted {
        background: yellow;
      }
    }
  }

  .image-viewer {
    background-color: #777;
    transition: .3s linear;
    overflow: auto;
    .image {
      display: block;
      text-align: center;
      image {
        transition: .3s linear;
      }
    }
    &.loading .image {
      opacity: 0.5;
    }
    .error-overlay {
      background: rgba(255, 0, 0, 0.5);
      color: #f00;
    }
  }
}

@media (max-width: 719px) {
  .app-body {
    flex-direction: column;

    &.files .file-browser {
      height: 33.333333%;
    }
  
    &.pages .page-list {
      height: 33.333333%;
    }

    &.pages.files .file-browser,
    &.pages.files .page-list {
      height: 33.333333%;
    }

    &.files .image-viewer,
    &.pages .image-viewer {
      height: 66.666666%;
    }


    &.pages.files .image-viewer {
      height: 33.333333%;
    }
  
    .file-browser {
      //width: 100%;
      height: 0%;
    }
    .page-list {
      //width: 100%;
      height: 0%;
    }

    .image-viewer {
      //width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 720px) {
  .app-body {
    flex-direction: row;

    &.files .file-browser {
      width: 33.333333%;
    }
  
    &.pages .page-list {
      width: 33.333333%;
    }

    &.pages.files .file-browser,
    &.pages.files .page-list {
      width: 33.333333%;
    }

    &.files .image-viewer,
    &.pages .image-viewer {
      width: 66.666666%;
    }
  
    &.pages.files .image-viewer {
      width: 33.333333%;
    }

    .file-browser {
      width: 0%;
    }
    .page-list {
      width: 0%;
    }

    .image-viewer {
      width: 100%;
    }
  }
}
